body
{
    background-color: #5000aa
}

h1
{
    font-family: Arial, serif;
    font-size: 60pt;
}

#tabcpp-main
{
    width: 100%;
    height: 100vh;
    align: center;
    text-align: center;
}

#tabcpp-title
{
    font-family: Times, serif;
    color: #dddddd;
    position: relative;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 30%;
    text-align: center;
}

.homeButton
{
    background-color: darkgreen;
    width: 20%;
}

#guideButton
{
    text-color: black;
    width: 20%;
    top: 10%;
    position: relative;
}

#repoButton
{
    text-color: black;
    width: 20%;
    top: 10%;
    position: relative;
}

#description
{
    text-align: justify;
    padding: 5%;
    color: white;
    position: relative;
    top: 10%;
    font-size: 20pt;
}
